<%- title "Calendo | " + current_account.name + " - Edit service"%>

<section style="padding:15px;">						
	<h3>Create a new service </h3>
	<hr style="margin-top:5px;"/>			
	<%= render 'form' %>	
</section>

<script type="text/javascript">
$( document ).ready(function() {	
	
});
</script>