<section class="panel">
	<header class="panel-body">
		<h2 style="margin-top:10px;">Mark Otto <a id="lnk-edit" href="edit-customer-111.html"><span style="float:right; font-size:14px; margin-top:5px;"><i class="fa fa-edit"></i> Edit this person</span></a></h2>
		<div><span> <i class="fa fa-phone"></i> Phone: 604.111.3345 | <i class="fa fa-envelope-o"></i> Email: abc@example.com</span></div>
		<hr style="margin-top:5px;"/>
		
		<div class="timeline">
			<div class="spine"></div>
			<div class="date_separator">
				<span>JANUARY 2014</span>
			</div>
			<ul class="columns">
				<li>
					<div class="timeline_element blue">
						<div class="timeline_title">
							<span class="timeline_label">Appointment completed</span><span class="timeline_date">11 January 2014</span>
						</div>
						<div class="content">
							<b>Phisyotherapy - 90 minutes</b> on February 3rd, 2014 (11:00-12:00) with William Bossard was completed.
						</div>
						
					</div>
				</li>
				<li>
					<div class="timeline_element orange">
						<div class="timeline_title">
							<span class="timeline_label">Note added</span><span class="timeline_date">10 January 2014</span>
						</div>
						<div class="content">
							<b>Appointment confirmed</b> over the phone with the customer for January 11th
						</div>
						<!--div class="readmore">
							<a class="btn btn-warning" href="#">
								Read More <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div-->
					</div>
				</li>
				<li>
					<div class="timeline_element orange">
						<div class="timeline_title">
							<span class="timeline_label">Note added</span><span class="timeline_date">03 January 2014</span>
						</div>
						<div class="content">
							<b>Appointment scheduled</b> over the phone with the customer for January 11th
						</div>
						<!--div class="readmore">
							<a class="btn btn-warning" href="#">
								Read More <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div-->
					</div>
				</li>
			</ul>

		</div>	

	<header>
</section>