<%- title "Calendo | " + current_account.name + " - Customers"%>

<section>
	<header class="page_header">
		<h3 style="margin-top:10px;"><%= current_account.name %> customers
			<%= link_to new_admin_customer_path do %>
				<span style="float:right; font-size:14px; margin-top:5px;"><i class="fa fa-plus"></i> Add a new customer</span> 
			<% end %>
		</h3>						
	</header>
	<table id="service-list" class="table table-hover sorted_table">							  
		  <tbody>
		  	<% @customers.each do |customer| %>
        		<tr>				  								  
				  <td><%= link_to customer.user.display_name, admin_customer_path(customer.user) %></a></td>
				  <td width="200"><%= customer.user.email %></td>				  
				</tr>
  			<% end %>								
		  </tbody>
	</table>
</section>

<script type="text/javascript">
$( document ).ready(function() {	
	
});
</script>

