<div>
	<header style="border-bottom:1px solid #DDDDDD; margin-top:15px; margin-bottom:10px;"><h4>Work hours</h4></header>
	<% if(params[:action]=="new")%>	
		<%= f.fields_for :work_days do |builder| %>
			<%= render 'work_day_fields', f: builder %>
		<% end %>
	<% else %>
		<%= f.fields_for :work_days, f.object.work_days.order(:id) do |builder| %>
			<%= render 'work_day_fields', f: builder %>
		<% end %>
			
	<% end%>	
</div>