<%- title "Calendo | " + current_account.name + " - New staff member"%>

<section style="padding:15px;">						
	<h3>Add a new staff member </h3>
	<hr style="margin-top:5px;"/>
	<%= form_for [:admin, @user], :url => url_for(:controller => 'staff'), :html => {:class => "form-horizontal", :role=>"form"} do |f| %>			
		<%= render 'form', :f => f %>	
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>								
		 	<div class="col-md-10" style="margin-top:10px; padding-top:10px;">								
				<%= f.submit "Create staff member", :class => 'btn btn-success' %> or <%= link_to 'Cancel', admin_staff_index_path %>		
			</div>
		</div>		
	<% end %>
</section>


<script type="text/javascript">

$(document).ready(function() { 
	

    $('.timepicker').timepicker({
                minuteStep: 5,
                showInputs: false,
                disableFocus: true
            });
	
  	$(".lnk-close").click(function(){
  		$(this).parent().parent().find('.is-closed').val('t');
  		$(this).parent().parent().find('[data-view="is-closed"]').css("display","block");
  		$(this).parent().parent().find('[data-view="is-open"]').css("display","none");
  		
  		//console.log("Close link was clicked! " + $(this).parent().parent().find('.label-day').text());
  	});
  	
  	  	$(".lnk-open").click(function(){
  		$(this).parent().parent().find('.is-closed').val('f');
  		$(this).parent().parent().find('[data-view="is-closed"]').css("display","none");
  		$(this).parent().parent().find('[data-view="is-open"]').css("display","block");
  		
  		//console.log("Open link was clicked! " + $(this).parent().parent().find('.label-day').text());
  	});
 });
	
</script>