<div class="form-group row">
	<%= f.label :name, :class=>"col-sm-2 control-label" %>
	<div class="col-sm-5">			    
	    	<%= f.text_field :name,  :class=>'form-control', :placeholder=>"New holiday name" %>
	    </div>
	<div class="col-sm-5" style="width:200px;">
		<div class="input-group input-append date" id="appDate">
			<%= f.text_field :date,  :class=>'form-control span2'%>
			<span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
		</div>								
	</div>
</div>	