<%- title "Calendo | " + current_account.name + " - " + @user.email %>

<section class="panel">
	<header class="panel-body">
		<h2 style="margin-top:10px;"><%= @user.email %> 

		</h2>
	</header>
</section>
